/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}


html, body{
    scroll-behavior: smooth;
    cursor: default;
  }

/* scrollbar */
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #eeefe6;
}

.cart-page::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #eeefe6;
}

::-webkit-scrollbar-thumb {
    background: #6FA7A8;
    -webkit-border-radius: 1ex;
    /* -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75); */
}

.cart-page::-webkit-scrollbar-thumb {
    background: #6FA7A8;
    -webkit-border-radius: 1ex;
    /* -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75); */
}

/* navigation bar */
nav{
    background-color: #e9ecef;
}

nav ul{
    margin: 0;
    padding: 1.5% 1%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav li{
    cursor: pointer;
}

nav ul a{
    text-decoration: none;
    color: black;
}



/* body */
body{
    background-color: white;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    transition: all 10 ease;
    /* height: 100%;
    overflow-y: hidden; */
}

.body{
    padding: 5% 7% 7% 7%;

    /* filter: blur(3px); */
}


.description h1{
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom:4%;
}

.description p{
    font-weight: 400;
    font-size: 1.08em;
    line-height: 2;
}

.description ul{
    font-weight: 400;
    color: rgb(120, 119, 119);
    margin-top: 1.3%;
}

.description .bi{
    margin-inline-end: 0.2em;
    color: rgb(120, 119, 119);
}

.header{
    display: flex;
    background-color: #e9ecef;
    border-radius: 10px;
    border: solid #eeefe6 2px;
    padding: 3% 3% 3% 3%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 5%;
}

.menu:hover{
    color: rgb(120, 119, 119);
    transition: 1s;

}
.menu{
    color: black;


}

.img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

hr{
    width: 89%;
    margin-top: 4%;
}

.h{
    grid-column: span 2;
    color: rgb(120, 119, 119);

}

.cont p{
    font-weight: 600;
}

.cart-page{
    position: fixed;
    right: 0px;
    background-color: #6FA7A8;
    box-shadow: 0 0 20px #6FA7A8;
    border-radius: 10px;
    z-index: 1;
    height: 0;
    width: 35%;
    overflow-y: hidden;
}


/* Menu niche */
.food{
    display: flex;
    justify-content: space-evenly;
    margin: 3%;
}

.starters,
.ranp,
.curry{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);    
    text-align: left;
    place-items: center;
}

.item1{
    width: 35vw;
    height: 7.9vw;
    display: grid; 
    /* gap: 3rem; */ 
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    margin: 2%;
    background-color: #faf9f9;
    border-radius: 10px;
    padding: 3%;
    border: solid #eeefe6 2px;
    box-shadow: 5px 5px 10px rgb(232, 229, 229);
    align-items: center;
}

.img-item1,
.add{
    place-self: center;
}

.cont{
    text-align: left;
    padding-inline:0 ;
}

.item1:hover{
    box-shadow: 0 0 20px rgb(211, 208, 208);
}

.cart-item1{
    width: 30vw;
    display: grid;
    grid-template-columns: repeat(3,145px);
    grid-template-rows: repeat(1,1fr);
    margin: 2%;
    background-color: white;
    border-radius: 10px;
    padding: 3%;
    border: solid 1px rgb(203, 200, 200);
    place-items: center;
}

.car{
    place-self: center left;
    padding-inline-start: 3%;
}

.tot h3{
    color:rgb(120, 119, 119) ;
    font-weight: 500;
}

.img1{
    border-radius: 100%;
    width: 75px;
    height: 75px;
}

.btp{
    margin: 3%;
}


.h{
    margin: 2%;
}

body .order{
    background-color: #6FA7A8;
    height: 5vw;
    width: 100%;
    position: fixed;
    bottom: 0px;

}

.add{
    display: grid;
    grid-template-columns: repeat(3, 0.6fr);
    place-items: center;
    border-radius: 5px;
    border: solid 1.5px rgb(255, 61, 61);
    padding: 3%;
    width: 100px;
    align-items: center;
}

.mad{
    padding: 2.5%;
    text-align: center;
    margin-top: 5%;
    border-radius: 5px;
    border: solid 1.5px black;
}

.mad h3{
    font-weight: 400;
}


.add h3{
    margin: 3%;
}

.bi-plus{
    color: green;
}

.bi-dash{
    color: red;
}

.jord{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #6FA7A8;
    transform: scale(0.75);
}

.jord .bi{
    position: relative;
    font-size: 50px;
    top: 25px;
}

.count{
    width: 18px;
    height: 20px;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    left: 59px;
    bottom: 55px;
}

.baya{
    position: absolute;
    left: 60px;
    bottom: 50px;
}


i{
    cursor: pointer;
}

.jord-cart{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    /* background-color: #6FA7A8; */
    transform: scale(0.7);
}

.jord-cart .count{
    background-color: #6FA7A8;
}

.jord-cart .bi{
    position: relative;
    font-size: 50px;
    top: 20px;
}

.exit{
    font-size: 28px;
}

.cart-page nav {
    padding: 0 2% 0 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0%;
    background-color: #eeefe6;
}


.cards{
    padding: 3% 3% 2% 3%;
    line-height: 1.3;
}

.cards button {
    margin: 1.5%;
    padding: 1.5%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}



/* 
media queries*/


@media (max-device-width: 1300px){
    .header{
        display: flex;
        flex-wrap: wrap-reverse;
        text-align: left;
        gap: 3em;
    }

    .cart-page{
        width: 50%;
    }

    .cart-item1{
        width: 45vw;
        display: grid;
        justify-content: space-between;
        place-items: center;
        font-size: 1rem;
    }

    .item1{
        height: 7em;
    }
}

@media (max-device-width: 500px) {
    .starters,
    .ranp,
    .curry{
    display: flex;
    flex-direction: column;  
    text-align: center;
    /*place-items: center;*/
    }

    .header{
        display: flex;
        flex-wrap: wrap-reverse;
        text-align: left;
        gap: 3em;
    }

    .item1{
        width: 50vw;
        display: grid;
        height: auto;
        margin-top: 5rem;
        margin-bottom: 3rem;
        gap: 3rem;
        transform: scale(1.6);
    }

    .menu{
        font-size: 2.7rem;
    }

    .nav a{
        font-size: 1.4rem;
    }

    .nav{
        padding-inline: 5%;
    }

    .description p{
        font-size: 0.75em;
    }

    .description li{
        font-size: 0.75em;
    }

    .description h1{
        text-align: center;
    }

    .cart-page{
        width: 75%;
    }

    .cart-item1{
        width: 65vw;
        display: grid;
        justify-content: space-between;
        place-items: center;
        font-size: 1.7rem;
    }

    .cart-item1 .add{
        width: 150px;
    }

    .btp h3{
        font-size: 2rem;
        margin-top: 2rem;
    }

    .ni{
        margin-top: 2%;
        transform: scale(1.4);
    }

    .jord{
        transform: scale(1.15);
    }

    .exit{
        font-size: 45px;
    }

    .jord-cart .count{
        width: 24px;
        height: 26.67px;
    }

    .jord-cart .bi{
        font-size: 75px;
        top: 5px;
    }
}  
