/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
a,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body{
  scroll-behavior: smooth;
  cursor: default;
}

.img1{
  cursor: pointer;
}

/* fonts */
@font-face {
  font-family: "Apfel Grotezk";
  src: url("Fonts/ApfelGrotezk-Fett.woff2") format("woff2"),
       url("Fonts/ApfelGrotezk-Fett.woff") format("woff");
}


/* head CSS */
.head{
   background-image: linear-gradient( #adc6c6, #6FA7A8 );
   border-radius: 5px;
}

/* body */
body{
  text-align: center;
  /* font-family: 'Tilt Warp', cursive; */
  font-family: 'Apfel Grotezk';
  font-weight: 100;
  color: #393E46;
}

/* Starters */
.starter h1{
  font-size: 5rem;
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
}

/* navbar */
.top{
  display: flex;
 justify-content: space-between;
  align-items: center;
  /* margin: 0 10%; */
  padding: 0 7% 0 5%;
  position: fixed;
  width: 100%;
  /* background-color: white; */
   background-color: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(1rem);
  z-index: 2;
}


.right{
  display: flex;
  font-size: 1.2rem;
  align-items: left;
  /* transition: 1.5s; */
}

.prevent-selection,
.desc {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


.right a,
.logo a {
  text-decoration: none;
  color: #393E46;
  cursor: pointer;
}


.logo{
  margin: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.top span{
  font-weight: bold;
  margin-inline-start: 1rem;
  margin-inline-end: 0.5rem;
}

.bi-list{
  font-size: 1.6rem;
}

nav .bi{
  visibility: hidden;
}

.bi-x-lg{
  font-size: 1.5rem;

}

.icon{
  z-index: 100;
}

.starter{
  padding: 10%;
  color: #393E46;
}

.head,
.restaurants{
  scroll-behavior: smooth;
}

.s-description{
  font-family: 'Questrial', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  margin: 1rem 0 0 0;
}

/* .starter span{
  text-decoration: underline white;
} */


/* .hov{
  transition-duration: 0.3s;
}

.hov:hover{
  border-bottom: solid;
  border-color: black;
  border-width: 2px;
  padding-bottom: 0.3%;
} */

.hov {
  
  display: inline-block;
  position: relative;
}

.hov:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(203, 51, 51);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.hov:hover:after { 
  width: 100%; 
  left: 0; 
}

.hov{
  cursor: pointer;
}


/* Get parcels from */
.cards{
  padding: 5% 10% 3% 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  column-gap: 1rem;
  row-gap: 2em;
}

.card1{
  border: solid #eeefe6 2px;
  border-radius: 3%;
  /* margin: 0 2% 0 2%; */
  box-shadow: 0.3125rem 0.3125rem 0.625rem rgb(227, 224, 224);
  width: 21.375rem;
  height: 23.625rem;
}


.content{
  background-color: white;
  border: none;
  border-radius: 3%;
  line-height: 1.2;
}


.img1{
  overflow: hidden;
  width: 100%;
  height: 80%;
  border-radius:3%;
}

.img{
  transition-duration: 1s;

}

.img:hover {
  transform: scale(1.1);
}

.card1:hover {
  box-shadow: 0 0 1.25rem rgb(211, 208, 208);
}

.nonveg{
  color: rgb(156, 43, 43);
}

.desc{
  display: flex;
  margin: 2% 0;
  align-items: center;
  padding: 0% 15%;
  justify-content: space-between;
}

.open{
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: green;
  border-radius: 4px;
  color: green;
  padding: 1% 5%;
}

.restaurants .parcel{
  margin: 4% 0 0 0;
}

.hide{
  visibility: hidden;
}

/* footer */
.showm{
  margin: 0 0 3% 0;
}

.footer{
  text-align: center;
  background-color: #6FA7A8 ;
  font-family: 'League Spartan', sans-serif;
  font-weight: 400;
  padding: 3% 0 0.7rem 0;
}

.footer h3{
  font-size: 2rem;
}

.f{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 10% 1%;
}









/* media-queries */

@media (min-width:695px) and (max-width: 1400px) {
  .cards{
    grid-template-columns: repeat(2, 1fr);
  }
  .top{
    display: flex;
   justify-content: space-between;
    align-items: center;
    /* margin: 0 10%; */
    padding: 0 7% 0 5%;
    position: fixed;
    width: 100%;
    /* background-color: white; */
    background-color: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(1rem);
    z-index: 2;

    }
 
}



@media (max-width:940px) {
  .cards{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width:450px) {
  .card1{
    width: 17.1rem;
    height: 18.9rem;
  }

  .content{
    transform: scale(0.8);
  }

  .footer h3{
    font-size: 1.4rem;
  }
}

@media (max-width: 696px) {
  .top{
    display: flex;
   justify-content: space-between;
    align-items: center;
    /* margin: 0 4%; */
    padding: 0 4% 0 5%;
    position: relative;
    width: 100%;
    background-color: none;
    backdrop-filter: none;
    /* background: linear-gradient( #adc6c6,#a1c0c0 ); */
    border-radius:0 0 10px;
    /* backdrop-filter: blur(10px); */
    z-index: 2;
  }

  .icon{
    position: fixed;
    right: 5%;
    top: 4.%;
  }
  .logo{
    margin: 2rem 2rem 2rem 0;
  }

  .s-description{
    font-size: 1.5;
  }

  .starter{
    transform: scale(0.8);
  }

  .right{
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 30%;
    text-align: left;
    padding: min(30vh, 10rem) 1.75rem;
    line-height: 1.7;
    backdrop-filter: blur(3rem);
    z-index: 10;
    transform: translateX(100%);
    /* height: 100%; */
    /* visibility: hidden; */
  }

  .right[flag="true"]{
    transform: translateX(0);
  }



  nav a{
    font-size: 1.2rem;
  }

  nav .bi{
    visibility: visible;
  }
}



@media (min-width: 695px) and (max-width: 790px) {
  nav .sp{
    visibility: hidden;
  }
  nav a{
    font-size: 1.2rem;
  }

  .starter{
    transform: scale(0.9);
  }

  .footer h3{
    font-size: 1.7rem;
  }
}


@media (max-width: 374px) {
  .starter h1{
    font-size: 3.4rem;
  }
  .starter .s-description{
    font-size: 1.5em;
  }

  .img1{
    border-radius: 100%;
    height: 5rem;
    width: 5rem;
  }

  .card1{
    display: flex;
    align-items: center;
    width: 80%;
    flex-direction: column;
    padding: 5%;
    height: 13rem;
  }

  .desc{
    padding: 0;
  }

  .footer .f{
    font-size: 0.75em;
  }

  .showm{
    font-size: 1rem;
  }

  .footer{
    margin-top: 5%;
  }
}
